/*Filter*/
.topPortfolio {
    margin-bottom: 40px;
}
.portfolioFilter .btn.current {
    background-color: transparent;
    color: inherit;
}
/* nav */
.simple-pagination ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.simple-pagination ul li.active a {
    cursor: not-allowed;
}
.portfolioSort {
    float: right
}
/* loading */
.pf-load {
    height: 41px
}
.pf-load .box {
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 220px;
    text-align: center
}

/*layout*/
.box-portfolio {
    overflow: hidden;
    position: relative
}
.pfo-item {
    margin-bottom: 30px;
}
.pfo-item-img {
    position: relative;
    margin-bottom: 15px;
}
.pfo-item-img .overaly {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}
.pfo-item-img:hover .overaly {
    opacity: 1;
    filter: alpha(opacity=100);   
}
.pfo-item-img .overaly .pfo-inner{
    display: table;
    width: 100%;
    height: 100%;
}
.pfo-item-img .overaly .pfo-inner2 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}